{% extends 'baza.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'polls/architekci.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<h3 class='text-center' style="margin-top: 50px;">Spis architektów</h3>

<div style='margin-top: 5px; margin-bottom: 40px; text-align: center;'><a href='/dodaj-architekta'>Zarejestruj się</a></div>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th><th scope="col">Imię</th><th scope="col">Nazwisko</th><th scope="col">Data urodzenia</th><!-- <th>Adres 1</th><th>Adres 2</th><th>Nr telefonu</th><th>Nr telefonu 2</th> --><th scope="col">Projekty</th>
		</tr>
	</thead>
	<tbody>
{% for object in architekci %}
{% if object.id != 2 %}
		<tr>
			<th scope="row">{{ forloop.counter0 }}</th><td>{{ object.imie }}</td><td>{{ object.nazwisko }}</td><td>{{ object.data_ur }}</td><!-- <td>{{ object.adres }}</td><td>{{ object.adres2 }}</td><td>{{ object.nr_tel }}</td><td>{{ object.nr_tel2 }}</td> --><td>{{ object.projekty }}</td>
		</tr>
{% endif %}	
{% endfor %}
	</tbody>	
</table>

{% endblock %}