table {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.col-auto {
	margin-top: 5px;
}

th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

td {

}

.btn {
	margin-top: 20px;
}

/*@media screen and (min-width: 980px) {
.btn {
	width: 250px;
}
}
*/
